.header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.header-container h5 {
    margin-left: 20px;
    margin-right: 10px;
}

.header-container button {
    margin-top: 12px;
    margin-left: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

mat-card {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 190px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}