<mat-card class="size-my-read-me-card">
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <ul>
                    <span style="font-weight: bold;">Version 0.0.2</span>
                    <li>Add MatSnackBar messages on loading error.</li>
                </ul>
            </mat-list-item>
            <mat-list-item>
                <ul>
                    <span style="font-weight: bold;">Version 0.0.1</span>
                    <li>First full working version</li>
                </ul>
            </mat-list-item>
            <mat-list-item class="custom-list-item">
                <ul>
                    <span style="font-weight: bold;">Version 0.0.0</span>
                    <li>Start version</li>
                </ul>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>