<mat-card class="size-my-read-me-card">
  <mat-card-content>
    <p>Version {{version}}</p>
    <p class="my-text-style">
      <span style="font-weight: bold;">My Angular User Management App</span> is an example program how to manage users
      with an Ionic/React app via a web service. The usual CRUD (Create, Read, Update and Delete) functions are
      available. Similar to <span style="font-weight: bold;">My Ionic React User Management App</span> only adapted for
      Angular.
    </p>
  </mat-card-content>
</mat-card>